<h1 class="about-header"> About Us </h1>
<hr>

<div class="about-banner">
  <img src="./assets/images/Indian-Premier-League.png" alt="">
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <h2>Anand Subramaniam</h2>
    <p>Anand Subramaniam has been fascinated by the game of cricket right since his childhood and over the years his passion to follow the game has only grown. Having acquired a degree in Mass Media and specialisation in journalism, he has been in the media industry for over six years now. Having spent two years in print media and close to four years in broadcast, Anand now looks to add value to the web team of BCCI. Apart from cricket, he takes keen interest in tennis. His major hobbies lie in photography and traveling.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Udaikiran Duggirala</h2>
    <p>Udai's passion for sports saw him give up a career in Social Work and take up sports journalism. He joined BCCI immediately after completing his journalism course and has been diligently following and writing about Cricket ever since. He has also been keenly tracking the domestic circuit and cricket for the past couple of years.</p>
  </div>
  <div class="col-md-4">
    <h2>Karthik Ravi</h2>
    <p>He is one of the most outstanding Cricket statisticians of modern time, with his unique style of presenting Cricket facts and figures. His mastery across various media platforms – electronic, print, LIVE TV production – is mindboggling. Ever since he joined the editorial team, Rajneesh has played an important part in the site’s popularity with his in-depth analysis and superior research. His role requires him to keep a tab on each and every development in all formats of the game; but he has no qualms in admitting that it is the shortest version of Cricket that fascinates him the most.</p>
  </div>
</div>
