<h1>Players List</h1>

<div *ngFor="let player of players | async"  (click)="goToDetailPage(player)" class="player">
    <div class="player-info-wrapper" >
    <img src="{{player.image}}" alt="">
    <div class="hover-info">
      <div class="text">
        <strong>{{player.name}}</strong><br>
        <span>{{player.age}}</span>
        <h3>{{player.hand}}</h3>
      </div>
    </div>

  </div>
    <div *ngIf="currentRoute === '/admin'">
      <hr>
      <app-edit-player></app-edit-player>
    </div>
