<div class="row">
  <div class="col-md-3">
    <p>Filter by role:</p>
    <select class="form-control" (change)="onChange($event.target.value)">
      <option value="Captain">Captain</option>
      <option value="Bowler">Bowler</option>
      <option value="Batsman">Batsman</option>
      <option value="Fielder">Fielder</option>
      <option value="Wicket-keeper">Wicket Keeper</option>
      <option value="Umpire">Umpire</option>
      <option value="Coach">Coach</option>
      <option value="allRoles" selected="selected">All Roles</option>
    </select>
  </div>
</div>





<h1>Players List</h1>

<div *ngFor="let player of players | async | role:filterByRole" class="player">

    <div class="player-info-wrapper" >
    <img src="{{player.image}}" alt="player-images">
    <div class="hover-info">
      <div class="text">
        <strong>{{player.name}}</strong><br>
        <img src="{{player.team}}" alt="team-image">
      </div>
    </div>
  </div>
  <h3 (click)="goToDetailPage(player)"><em>{{player.name}}</em></h3>

    <div *ngIf="currentRoute === '/admin'">
      <hr>
      <app-edit-player [selectedPlayer]="player"></app-edit-player>
    </div>
</div>
