<a (click)="showAddPlayerForm = !showAddPlayerForm">{{ showAddPlayerForm ? "Hide Form" : "Add Player to Club" }}</a>
<br>
<div *ngIf="showAddPlayerForm" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Player to Club!</h3>
  </div>
  <div class="panel-body">
    <form>
      <div>
        <label>Player Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Player Age:</label>
        <br>
        <input #newAge>
      </div>

      <div>
        <label>Player Image:</label>
        <br>
        <input #newImage>
      </div>

      <div>
        <label>Player Hand:</label>
        <br>
        <input #newHand>
      </div>

      <div>
        <label>Player role:</label>
        <br>
        <input #newRole>
      </div>

      <div>
        <label>Player team:</label>
        <br>
        <input #newTeam>
      </div>
      <button (click)="submitForm(newName.value, newAge.value, newImage.value, newHand.value, newRole.value, newTeam.value); newName.value=''; newAge.value=''; newImage.value=''; newHand.value=''; newRole.value=''; newTeam.value=''">Add</button>
    </form>
  </div>
</div>

<app-cricketclub></app-cricketclub>
