<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Player to Club!</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Player Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Player Age:</label>
        <br>
        <input #newAge>
      </div>

      <div>
        <label>Player Image:</label>
        <br>
        <input #newImage>
      </div>

      <div>
        <label>Player Hand:</label>
        <br>
        <input #newHand>
      </div>

      <div>
        <label>Player role:</label>
        <br>
        <input #newRole>
      </div>
      <button (click)="submitForm(newName.value, newAge.value, newImage.value, newHand.value, newRole.value); newName.value=''; newAge.value=''; newImage.value=''; newHand.value=''; newRole.value=''">Add</button>
    </div>
  </div>
</div>

<app-cricketclub></app-cricketclub>
