<div class="jumbotron">
  <h1>Welcome to ICC Cricket Club!</h1>
  <p>Click on any one of the team logo's to view the player info..</p>
  <div class="teams" class="row">
    <div class="col-md-3">
      <img class="team-logo"src="./assets/images/chennai-logo.png" alt="">
    </div>
    <div class="col-md-3">
      <img class="team-logo"src="./assets/images/bangalore-logo.png" alt="">
    </div>
    <div class="col-md-3">
      <img class="team-logo"src="./assets/images/mumbai-logo.jpg" alt="">
    </div>
    <div class="col-md-3">
      <img class="team-logo"src="./assets/images/hyderabad.png" alt="">
    </div>
  </div>
</div>
