.teamlogo{
  width: 150px;
}

.profilepic{

}

.well{
  height: 350px;
}

.flex-grid{
  display: flex;
  -webkit-box-aligh: stretch;
  align-items: stretch;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-wrap: wrap;
  -webkit-flex-direction: row;
}

.player-details-label {
    padding : 5px;
    opacity: .7;
}

.col-md-7 {
  color: white;
  font-size: 20px;
  background: #274690;
  padding: 20px;
}

.col-md-3 {
  border: 1px solid #274690;
}

.player-details-value{
  padding: 5px;
  font-weight: 400;
  line-height: 1.2;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
    padding: 0;
}
